html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

#ping-pong-table {
    border: 2px solid black;
    width: 800px;
    height: 550px;
    position: relative;
    background-color: #333;
}

#paddle {
    width: 10px;
    height: 75px;
    background-color: blue;
    margin-left: 10px;
    position: absolute;
}

#ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

#score-board {
    font-size: x-large;
    color: black;
    margin: 10px 0;
    font-weight: bold;
}
